SEESTAR_INITIAL_DELAY=0
SEESTAR_IP=192.168.1.194
SEESTAR_TARGET=M31
SEESTAR_RA=00:44:05.0
SEESTAR_DEC=41:24:10
SEESTAR_LP_FILTER=0
SEESTAR_SESSION_TIME=60
SEESTAR_RA_PANEL_SZ=3
SEESTAR_DEC_PANEL_SZ=3
SEESTAR_RA_OFFSET_FACTOR=1.0
SEESTAR_DEC_OFFSET_FACTOR=1.0